In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
# import data 
df = pd.read_csv('covid_data.csv')

In [4]:
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [5]:
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [6]:
china = df.query('location=="China"')
china.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
35527,CHN,Asia,China,2020-01-22,547.0,NaN,NaN,17.0,NaN,NaN,...,1.9,48.4,NaN,4.34,76.91,0.761,NaN,NaN,NaN,NaN
35528,CHN,Asia,China,2020-01-23,639.0,92.0,NaN,18.0,1.0,NaN,...,1.9,48.4,NaN,4.34,76.91,0.761,NaN,NaN,NaN,NaN
35529,CHN,Asia,China,2020-01-24,916.0,277.0,NaN,26.0,8.0,NaN,...,1.9,48.4,NaN,4.34,76.91,0.761,NaN,NaN,NaN,NaN
35530,CHN,Asia,China,2020-01-25,1399.0,483.0,NaN,42.0,16.0,NaN,...,1.9,48.4,NaN,4.34,76.91,0.761,NaN,NaN,NaN,NaN
35531,CHN,Asia,China,2020-01-26,2062.0,663.0,NaN,56.0,14.0,NaN,...,1.9,48.4,NaN,4.34,76.91,0.761,NaN,NaN,NaN,NaN

In [7]:
china.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 867 entries, 35527 to 36393
Data columns (total 67 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   iso_code                                    867 non-null    object
 1   continent                                   867 non-null    object
 2   location                                    867 non-null    object
 3   date                                        867 non-null    object
 4   total_cases                                 867 non-null    float64
 5   new_cases                                   864 non-null    float64
 6   new_cases_smoothed                          854 non-null    float64
 7   total_deaths                                867 non-null    float64
 8   new_deaths                                  862 non-null    float64
 9   new_deaths_smoothed                         857 non-null    float64
 10  total_cases_per_million                     867 non-null    float64
 11  new_cases_per_million                       864 non-null    float64
 12  new_cases_smoothed_per_million              854 non-null    float64
 13  total_deaths_per_million                    867 non-null    float64
 14  new_deaths_per_million                      862 non-null    float64
 15  new_deaths_smoothed_per_million             857 non-null    float64
 16  reproduction_rate                           862 non-null    float64
 17  icu_patients                                0 non-null      float64
 18  icu_patients_per_million                    0 non-null      float64
 19  hosp_patients                               0 non-null      float64
 20  hosp_patients_per_million                   0 non-null      float64
 21  weekly_icu_admissions                       0 non-null      float64
 22  weekly_icu_admissions_per_million           0 non-null      float64
 23  weekly_hosp_admissions                      0 non-null      float64
 24  weekly_hosp_admissions_per_million          0 non-null      float64
 25  total_tests                                 3 non-null      float64
 26  new_tests                                   0 non-null      float64
 27  total_tests_per_thousand                    3 non-null      float64
 28  new_tests_per_thousand                      0 non-null      float64
 29  new_tests_smoothed                          650 non-null    float64
 30  new_tests_smoothed_per_thousand             650 non-null    float64
 31  positive_rate                               650 non-null    float64
 32  tests_per_case                              650 non-null    float64
 33  tests_units                                 657 non-null    object
 34  total_vaccinations                          453 non-null    float64
 35  people_vaccinated                           30 non-null     float64
 36  people_fully_vaccinated                     43 non-null     float64
 37  total_boosters                              24 non-null     float64
 38  new_vaccinations                            440 non-null    float64
 39  new_vaccinations_smoothed                   537 non-null    float64
 40  total_vaccinations_per_hundred              453 non-null    float64
 41  people_vaccinated_per_hundred               30 non-null     float64
 42  people_fully_vaccinated_per_hundred         43 non-null     float64
 43  total_boosters_per_hundred                  24 non-null     float64
 44  new_vaccinations_smoothed_per_million       537 non-null    float64
 45  new_people_vaccinated_smoothed              359 non-null    float64
 46  new_people_vaccinated_smoothed_per_hundred  359 non-null    float64
 47  stringency_index                            841 non-null    float64
 48  population                                  867 non-null    float64
 49  population_density                          867 non-null    float64
 50  median_age                                  867 non-null    float64
 51  aged_65_older                               867 non-null    float64
 52  aged_70_older                               867 non-null    float64
 53  gdp_per_capita                              867 non-null    float64
 54  extreme_poverty                             867 non-null    float64
 55  cardiovasc_death_rate                       867 non-null    float64
 56  diabetes_prevalence                         867 non-null    float64
 57  female_smokers                              867 non-null    float64
 58  male_smokers                                867 non-null    float64
 59  handwashing_facilities                      0 non-null      float64
 60  hospital_beds_per_thousand                  867 non-null    float64
 61  life_expectancy                             867 non-null    float64
 62  human_development_index                     867 non-null    float64
 63  excess_mortality_cumulative_absolute        0 non-null      float64
 64  excess_mortality_cumulative                 0 non-null      float64
 65  excess_mortality                            0 non-null      float64
 66  excess_mortality_cumulative_per_million     0 non-null      float64
dtypes: float64(62), object(5)
memory usage: 460.6+ KB

In [8]:
india = df.query('location=="India"')
india.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
79413,IND,Asia,India,2020-01-30,1.0,1.0,NaN,NaN,NaN,NaN,...,1.9,20.6,59.55,0.53,69.66,0.645,NaN,NaN,NaN,NaN
79414,IND,Asia,India,2020-01-31,1.0,0.0,NaN,NaN,NaN,NaN,...,1.9,20.6,59.55,0.53,69.66,0.645,NaN,NaN,NaN,NaN
79415,IND,Asia,India,2020-02-01,1.0,0.0,NaN,NaN,NaN,NaN,...,1.9,20.6,59.55,0.53,69.66,0.645,NaN,NaN,NaN,NaN
79416,IND,Asia,India,2020-02-02,2.0,1.0,NaN,NaN,NaN,NaN,...,1.9,20.6,59.55,0.53,69.66,0.645,NaN,NaN,NaN,NaN
79417,IND,Asia,India,2020-02-03,3.0,1.0,NaN,NaN,NaN,NaN,...,1.9,20.6,59.55,0.53,69.66,0.645,NaN,NaN,NaN,NaN

In [9]:
nepal = df.query('location=="Nepal"')
nepal.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
120753,NPL,Asia,Nepal,2020-01-25,1.0,1.0,NaN,NaN,NaN,NaN,...,9.5,37.8,47.782,0.3,70.78,0.602,NaN,NaN,NaN,NaN
120754,NPL,Asia,Nepal,2020-01-26,1.0,0.0,NaN,NaN,NaN,NaN,...,9.5,37.8,47.782,0.3,70.78,0.602,NaN,NaN,NaN,NaN
120755,NPL,Asia,Nepal,2020-01-27,1.0,0.0,NaN,NaN,NaN,NaN,...,9.5,37.8,47.782,0.3,70.78,0.602,NaN,NaN,NaN,NaN
120756,NPL,Asia,Nepal,2020-01-28,1.0,0.0,NaN,NaN,NaN,NaN,...,9.5,37.8,47.782,0.3,70.78,0.602,NaN,NaN,NaN,NaN
120757,NPL,Asia,Nepal,2020-01-29,1.0,0.0,NaN,NaN,NaN,NaN,...,9.5,37.8,47.782,0.3,70.78,0.602,NaN,NaN,NaN,NaN

In [10]:
nepal.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 864 entries, 120753 to 121616
Data columns (total 67 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   iso_code                                    864 non-null    object
 1   continent                                   864 non-null    object
 2   location                                    864 non-null    object
 3   date                                        864 non-null    object
 4   total_cases                                 864 non-null    float64
 5   new_cases                                   863 non-null    float64
 6   new_cases_smoothed                          858 non-null    float64
 7   total_deaths                                752 non-null    float64
 8   new_deaths                                  752 non-null    float64
 9   new_deaths_smoothed                         747 non-null    float64
 10  total_cases_per_million                     864 non-null    float64
 11  new_cases_per_million                       863 non-null    float64
 12  new_cases_smoothed_per_million              858 non-null    float64
 13  total_deaths_per_million                    752 non-null    float64
 14  new_deaths_per_million                      752 non-null    float64
 15  new_deaths_smoothed_per_million             747 non-null    float64
 16  reproduction_rate                           756 non-null    float64
 17  icu_patients                                0 non-null      float64
 18  icu_patients_per_million                    0 non-null      float64
 19  hosp_patients                               0 non-null      float64
 20  hosp_patients_per_million                   0 non-null      float64
 21  weekly_icu_admissions                       0 non-null      float64
 22  weekly_icu_admissions_per_million           0 non-null      float64
 23  weekly_hosp_admissions                      0 non-null      float64
 24  weekly_hosp_admissions_per_million          0 non-null      float64
 25  total_tests                                 764 non-null    float64
 26  new_tests                                   720 non-null    float64
 27  total_tests_per_thousand                    764 non-null    float64
 28  new_tests_per_thousand                      720 non-null    float64
 29  new_tests_smoothed                          853 non-null    float64
 30  new_tests_smoothed_per_thousand             853 non-null    float64
 31  positive_rate                               764 non-null    float64
 32  tests_per_case                              732 non-null    float64
 33  tests_units                                 860 non-null    object
 34  total_vaccinations                          241 non-null    float64
 35  people_vaccinated                           243 non-null    float64
 36  people_fully_vaccinated                     216 non-null    float64
 37  total_boosters                              88 non-null     float64
 38  new_vaccinations                            176 non-null    float64
 39  new_vaccinations_smoothed                   496 non-null    float64
 40  total_vaccinations_per_hundred              241 non-null    float64
 41  people_vaccinated_per_hundred               243 non-null    float64
 42  people_fully_vaccinated_per_hundred         216 non-null    float64
 43  total_boosters_per_hundred                  88 non-null     float64
 44  new_vaccinations_smoothed_per_million       496 non-null    float64
 45  new_people_vaccinated_smoothed              490 non-null    float64
 46  new_people_vaccinated_smoothed_per_hundred  490 non-null    float64
 47  stringency_index                            864 non-null    float64
 48  population                                  864 non-null    float64
 49  population_density                          864 non-null    float64
 50  median_age                                  864 non-null    float64
 51  aged_65_older                               864 non-null    float64
 52  aged_70_older                               864 non-null    float64
 53  gdp_per_capita                              864 non-null    float64
 54  extreme_poverty                             864 non-null    float64
 55  cardiovasc_death_rate                       864 non-null    float64
 56  diabetes_prevalence                         864 non-null    float64
 57  female_smokers                              864 non-null    float64
 58  male_smokers                                864 non-null    float64
 59  handwashing_facilities                      864 non-null    float64
 60  hospital_beds_per_thousand                  864 non-null    float64
 61  life_expectancy                             864 non-null    float64
 62  human_development_index                     864 non-null    float64
 63  excess_mortality_cumulative_absolute        0 non-null      float64
 64  excess_mortality_cumulative                 0 non-null      float64
 65  excess_mortality                            0 non-null      float64
 66  excess_mortality_cumulative_per_million     0 non-null      float64
dtypes: float64(62), object(5)
memory usage: 459.0+ KB

In [11]:
df.select_dtypes(include="object").isnull().sum()

iso_code           0
continent      11165
location           0
date               0
tests_units    87787
dtype: int64